<div class="item-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @item do |f| %>
            <%= f.hidden_field :user_id, value: @item.user_id %>
            <%= f.hidden_field :r_date, value: @item.r_date %>
        
          <div class="form-group">
            <%= f.select :choice, [["tops", 1], ["bottoms", 2], ["shoes", 3]], include_blank: "選択して下さい" %>

            <%= f.label :image %>
            <%= f.file_field :image %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

        <% end %>
      </div>
    </div>
  </div>
</div>